@model TripFormModel

<form method="post">
    <div class="form-group">
        <label class="color-blue" asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="color-blue" asp-for="StartLocation"></label>
        <input asp-for="StartLocation" class="form-control" />
        <span asp-validation-for="StartLocation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="color-blue" asp-for="EndLocation"></label>
        <input asp-for="EndLocation" class="form-control" />
        <span asp-validation-for="EndLocation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="color-blue" asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="color-blue" asp-for="ExactAddress"></label>
        <input asp-for="ExactAddress" class="form-control" />
        <span asp-validation-for="ExactAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="color-blue" asp-for="Description"></label>
        <textarea asp-for="Description" rows="5" class="form-control" ></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="color-blue" asp-for="CarModel"></label>
        <input asp-for="CarModel" class="form-control" />
        <span asp-validation-for="CarModel" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="color-blue" asp-for="PricePerPassenger"></label>
        <input asp-for="PricePerPassenger" class="form-control" />
        <span asp-validation-for="PricePerPassenger" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="color-blue" asp-for="TotalSeats"></label>
        <input asp-for="TotalSeats" class="form-control" />
        <span asp-validation-for="TotalSeats" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info">Save Trip</button>
</form>