@model SearchTripViewModel
@{
    ViewData["Title"] = $"Search Results For {Model.SearchText}";
}

<h2 class="text-center heading">@ViewData["Title"]</h2>

@if (Model.Trips.Any())
{
    <h3 class="text-center heading">Found Trips</h3>

    <div class="row">
        @Html.Partial("_TripListingsPartial", Model.Trips)
    </div>
}
else
{
    <h3 class="text-center heading">No trips found.</h3> 
}
<div class="row text-center">
    <a class="btn btn-default btn-sm " asp-controller="Trips" asp-action="Index">Back</a>
</div>
